* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #4285f4;
}
.wrapper {
    width: 370px;
    margin: 130px auto 0;
}
.select-btn, .options i {
    display: flex;
    cursor: pointer;
    align-items: center;
}
.select-btn{
    height: 65px;
    font-size: 22px;
    padding: 0 20px;
    border-radius: 7px;
    background: #fff;
    justify-content: space-between; 
}
.select-btn i {
    font-size: 31px;
}
.content {
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
    background: #fff;
}
.content .search {
    position: relative;
}
.search i {
    left: 15px;
    color: #999;
    font-size: 20px;
    line-height: 53px;
    position: absolute;
}
.search input {
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}
.content .options {
    margin-top: 10px;
}
.options li {
    height: 50px;
    border-radius: 5px;
}
.options li:hover {
    background-color: #f2f2f2;
}
